/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 dic. 2023, 10:34:02
    Author     : Pumapillo
*/

/*hola como etan muchachos*/


/*
    Header
*/

h1,h3,h4,p,tbody{
    font-family: sans-serif;
}

header{
    background-image: url("../img/cabecera.jpg");
    background-color:#f5f5dc;
    height: 500px;
}
.Navbar{
    background-color: grey;
    width: 100%;
    top: 150px; /* Ajusta la posición vertical según tus necesidades */
    left: 0;
}
h1{
    padding-top: 250px;
}

li{
    display: inline; 
}

/*
    Body
*/

.post{
    border-style: groove;
    background-color: white;
}

h3{
    border-bottom-style: groove;
}

main{
    background-image: url("../img/fondo.jpg");
}


/*
    Footer
*/







