/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 19 dic. 2023, 17:49:28
    Author     : Pumapillo
*/
*{
    font-family: sans-serif;
}
h1{
    font-size: 4em;
}
.lorem{
    color: green;
}
#importante{
    color: red;
}
h2, h3, h4{
    font-style: italic;
}
#cabecerasRojas h2, #cabecerasRojas h3{
    color: red;
}
li>a{
    color: orange;
}